.lg{
    font-family: Arial, Helvetica, sans-serif;
    width: 16%; 
    padding: 1px; 

}
.img1 .ft1{
    float: left;
    margin-top: 20px;
    width:19%; 
    border-radius: 10px;
    margin-left: 20px; 
    margin-right: 50px;
}
.art1{
    float: left;
    margin-top: -40px;
    top : 2em;
}
.art1 .sc1 .pn{
    font-size: 3em; 
    margin-bottom: -5px;
    font-weight: bold;
}
.art1 .sc2 {
    float: right;
    font-size: 2rem;
    margin-right: -650px;
    margin-top: -265px;
    
}
.art1 .sc3 {
    float: right;
    padding: 2px;
    text-align: end;
    font-size: 1rem;
    margin-right: -650px;
    margin-top: -180px;
    
}
.art2{
    float: left;
    margin: 30px;
    text-align: justify;
}
.sc4{
    float: left;
    margin-left: 25px;
    margin-top: -30px;
}
.sc4 .vd1{
    float: left;
    width: 30%;
}
.fd2{
    float: left;
    width: -100%;

}
.art3{
    float: left;
}